.global {
  :global {
    .MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault {
      position: static;
    }
    button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
      position: static;
    }
    button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
      position: static;
    }
    .text-hidden {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}
